<div class="">
  <mat-grid-list cols="2" rowHeight="2:1">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="text-center border-bottom pt-3">Select Subjects</h2>
          <app-subject-favourite-child
            [myinputMsg]="myInputMessage"
            (SendToParent)="addNew($event)"
          ></app-subject-favourite-child>
        </div>

        <div class="col FavoriteBorderLeft">
          <h2 class="text-center border-bottom pt-3">Favorite Subjects</h2>
          <app-subject-favourite-child
            [favouriteSubjectInput]="FavouriteSubjectInput"
            (SendToMainParents)="RemoveFavorite($event)"
          ></app-subject-favourite-child>
        </div>
      </div>
    </div>
  </mat-grid-list>
</div>
