<div *ngIf="!joggingData">
  <h4> No Employee Data is present Click Add new to add Data!!!.</h4>
</div>
<h1 class="d-flex justify-content-center">List of Records</h1>
<button type="submit" (click)="openModal(editProfileModal,'')" class="btn btn-primary">Insert</button>


<table class="table" *ngIf="joggingData">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Distance in meters</th>
      <th>Time</th>
      
      <th>InsertDateTime</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>


    <tr  *ngFor="let i of joggingData">

  <td>{{ i?.id  }}</td>
  <td>{{ i?.date | date : 'MMM d, y, h:mm:ss a'  }}</td>
  <td>{{ i?.distanceInMeters }}</td>
  <td>{{ i?.timeInSeconds    }}</td>
      <td>{{ i?.insertDateTime | date : 'MMM d, y, h:mm:ss a'}}</td>

  
      <td><a (click)="openModal(editProfileModal,i)" class="btn btn-warning">Edit</a></td>
      <td><a (click)="deleteData(i.id)" class="btn btn-danger">Delete</a></td>

    </tr>

  </tbody>
</table>
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group row">
          <label for="id" hidden class="col-sm-4 col-form-label">id</label>
          <div class="col-sm-8">
            <input type="number" hidden class="form-control" formControlName="id" id="id">
          </div>
        </div> -->
      <div class="form-group row">
        <label for="date" class="col-sm-4 col-form-label">date</label>
        <div class="col-sm-8">
          <input type="datetime-local" class="form-control" formControlName="date" id="date">
        </div>
      </div>
      <div class="form-group row">
        <label for="distanceInMeters" class="col-sm-4 col-form-label">distanceInMeters</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" formControlName="distanceInMeters" id="distanceInMeters">
        </div>
      </div>
      <div class="form-group row">
        <label for="timeInSeconds" class="col-sm-4 col-form-label">timeInSeconds</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" formControlName="timeInSeconds" id="timeInSeconds">
        </div>
      </div>
      <div class="form-group row">
        <label for="insertDateTime" class="col-sm-4 col-form-label">insertDateTime</label>
        <div class="col-sm-8">
          <input type="datetime-local" class="form-control" formControlName="insertDateTime" id="insertDateTime">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit"   class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>