<h4>{{ socialAuthDetails.name }}</h4>

<img src="{{ socialAuthDetails.photoUrl }}" />
<button
  (click)="logout()"
  mat-raised-button
  matTooltip="Sign out"
  aria-label="Sign out"
  class="btn btn-danger pl-3 float-right pr-3 signOutBtn"
>
  <i class="fas fa-sign-out-alt"></i>
</button>

<div>
  <h1 class="d-flex justify-content-center mt-3">List of Records</h1>
  <div *ngIf="!data">
    <!-- <mat-spinner color="accent" mode="indeterminate"></mat-spinner> -->
    <ngx-spinner bdColor="rgba(51,51,51,0.4)" type="ball-scale-multiple">
    </ngx-spinner>
    <h4 style="text-align: center">
      No Employee Data is present Click on Add button to add Data!!!.
    </h4>
  </div>

  <button
    type="submit"
    (click)="openModal(editProfileModal, '')"
    class="CreateEmp pl-3 btn btn-primary"
    mat-raised-button
    matTooltip="Insert"
    aria-label="Insert"
  >
    <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>
  </button>

  <p>
    <span [matBadge]="data?.length" matBadgeOverlap="false"
      >Total Number of Records</span
    >
  </p>

  <div class="example-container mat-elevation-z8 table mt-5">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.date | date: "MMM d, y, h:mm:ss a" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="distanceInMeters">
        <mat-header-cell *matHeaderCellDef>
          Distance In Meters
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.distanceInMeters }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="timeInSeconds">
        <mat-header-cell *matHeaderCellDef> Time In Seconds </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.timeInSeconds }}
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <div mat-cell *matCellDef="let element" class="action-link">
          <a
            (click)="openModal(editProfileModal, element)"
            class="btn btn-warning"
            mat-raised-button
            matTooltip="Edit"
            aria-label="Edit"
          >
            <mat-icon aria-hidden="false" aria-label="Example edit icon"
              >edit</mat-icon
            >
          </a>
          |
          <a
            (click)="deleteData(element.id)"
            class="btn btn-danger"
            mat-raised-button
            matTooltip="Delete"
            aria-label="Delete"
          >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >delete</mat-icon
            >
          </a>
        </div>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6]">
    </mat-paginator>
  </div>

  <ng-template #editProfileModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="editProfileLabel">Profile</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        (click)="modal.dismiss()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="date" class="col-sm-4 col-form-label">date</label>
          <div class="col-sm-8">
            <input
              required
              type="datetime-local"
              #date
              class="form-control"
              name="date"
              formControlName="date"
              id="date"
            />

            <div
              *ngIf="
                editProfileForm.controls['date'].invalid &&
                editProfileForm.controls['date'].touched
              "
              class="alert alert-danger"
            >
              <div *ngIf="editProfileForm.controls['date'].errors?.required">
                date is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="distanceInMeters" class="col-sm-4 col-form-label"
            >distanceInMeters</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              formControlName="distanceInMeters"
              id="distanceInMeters"
            />

            <div
              *ngIf="
                editProfileForm.controls['distanceInMeters'].invalid &&
                editProfileForm.controls['distanceInMeters'].touched
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  editProfileForm.controls['distanceInMeters'].errors?.required
                "
              >
                distanceInMeters is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="timeInSeconds" class="col-sm-4 col-form-label"
            >timeInSeconds</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              formControlName="timeInSeconds"
              id="timeInSeconds"
            />

            <div
              *ngIf="
                editProfileForm.controls['timeInSeconds'].invalid &&
                editProfileForm.controls['timeInSeconds'].touched
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  editProfileForm.controls['timeInSeconds'].errors?.required
                "
              >
                timeInSeconds is required.
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
