.CreateEmp {
  float: right;
  position: relative;
  right: 27px;
}

.mat-spinner,
.mat-progress-spinner {
  position: absolute !important;
  top: 50%;
  right: 50%;
  z-index: 999999;
}

.signOutBtn {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}
