<h2 class="d-flex justify-content-center" *ngIf="!joggingInfo || joggingInfo.id === undefined">Add record</h2>
<h2 *ngIf="joggingInfo && joggingInfo.id !== undefined">Update record (ID: )</h2>

<div>
  <h2></h2>
  <form ngNativeValidate>
    <div class="form-group">
      <label for="date-input">Jogging date:</label>
      <input type="date" required="required" id="date-input" [(ngModel)]="joggingInfo.date"  class="form-control" [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="form-group">
      <label for="distance-input">Distance (m)</label>
      <input type="number" required="required" id="distance-input" [(ngModel)]="joggingInfo.distanceInMeters" class="form-control"  [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="form-group">
      <label for="time-input">Time (s)</label>
      <input type="number" required="required" id="time-input" [(ngModel)]="joggingInfo.timeInSeconds"  class="form-control"  [ngModelOptions]="{standalone: true}" />
    </div>
    <button type="button"  class="btn btn-primary d-flex justify-content-center" (click)="addOrUpdateJoggingRecord($event);">Save</button>

  </form>
</div>


